.container{
    height: 244px;
    width:  244px;
    background-color: rgb(8, 8, 8);
}
.div1{
    position: relative;
    height:30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.div1 span{
    position: relative;
    border-radius: 1px;
    /*box-shadow: 0px 0px 0px 5px rgba(154, 142, 142, 0.01),
    0px 0px 0px 4px rgba(236, 230, 230, 0.2);*/
    
    height: 15px;
    width: 15px;
    background-color: rgb(149, 155, 159);
    animation: animate 5s ease-in-out  infinite;
    animation-duration: calc(60s / var(--i));
}
@keyframes animate {
    0%{
        background-color: rgb(36, 34, 34, 0.5);
        transform: scale(0.5);
    }
    15%{
        background-color: rgb(24, 24, 24) ;
    }
    50%
    {
        background-color: rgb(102, 102, 109);
        transform:scale() ;
    }
    70%{
        background-color: rgb(24, 24, 24) ;
    }
    100%{
        background-color: rgb(36, 34, 34, 0.5);
    }
}